*{
    margin:0;
}
html{
    min-height: 100%;
    position: relative;
}

body {
	height: 95%;
	box-sizing: border-box;
	background-color: #ddd;
	color: cadetblue;
}
header {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid cadetblue;
	height: 10%;
	padding-top: 30px;
	background-color: black;
	box-shadow: 0 0 8px 3px;
}
.score-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.score-board h2{
    font-size:xx-large;
}
.score-board-container{
    display: flex;
    gap:70px;
}
.score-board-container p{
    font-size: x-large;
}
.player-score-container,.computer-score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:7px;
    margin-top: 20px;
}
.play-options{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#player-selection,#computer-selection{
    width: 100px;
    height: 100px;
    visibility: hidden;
}
.play-options img{
    width: 165px;
    height: 165px;
    margin: 20px;
    transition: all 300ms ease-in-out;
    border-radius: 50%;

}
.play-options img:hover{
    background: seashell;
    cursor: pointer;   
}
.play-options img:active{
    box-shadow: 0px 0px 6px 8px cadetblue;
}


.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 97%;
    padding: 10px;
    font-size: 20px;
}
.github-logo{
    width: 20px;
    height:20px;
    transition: all 300ms linear;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white;
    margin-left: 6px;
    cursor: pointer;
}
.github-logo:hover{
        transform: rotate(360deg) scale(1.3);
        box-shadow: 0px 0px 5px black;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  

.start {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%)scale(0);
	transition: all 1000ms;
	width: 400px;
	height: 300px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 10px;
	border-radius: 5%;
	/* border: 0px solid yellow; */
	box-shadow: 0px 0px 25px 7px black;
	color: cadetblue;
	justify-content: center;
}
.start.end{
    transform:translate(-50%,-50%)scale(1);
}

button {
	width: 140px;
	height: 58px;
	font-size: x-large;
	background: black;
	border: 2px solid black;
	box-shadow: 0 0 8px 2px yellow;
	border-radius: 30px;
	color: yellow;
}
button:active{
    box-shadow: 0 0 8px 8px yellow; 
}
.result-container{
    width:400px;
    height: 300px;
    background-color: black;
}